.section {
    width: 84srem;
    height: 30rem;
    background-color: aqua;
}

.bloque1 {
    width: 100px;
    height: 100px;
    background-color: yellow;

}

.bloque2 {

}

.bloque3 {

}

.bloque4 {

}

.bloque5 {

}